<div class="container space-y-8">
    <h2>Edit todo</h2>

    <%# renders the "form" partial (_form.html.erb, it uses a underscore) and passes @todo as todo %>
    <%= render "form", todo: @todo %>
</div>
