<div class="container space-y-8">
    <h2>Things to do</h2>

    <ul class="list-disc list-inside pl-8">
        <% @todos.each do |todo| %>
            <li class="hover:text-blue-400">
                <%= link_to todo.title, todo %>
            </li>
        <% end %>
    </ul>

    <div class="space-x-4 flex justify-end border-t pt-8">
        <%= link_to new_todo_path do %>
            <button class="btn btn--primary">Add todo</button>
        <% end %>
    </div>
</div>
